.inner{
    background-color: black;
    .page{
        background-color: white;
    }
    .slide{
        height: 100vh;
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        background-color: white;
        z-index: 1;
    }
}
